<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="URL" value="https://www.cheaptickets.com/"/>
    <add key="IMPLICIT" value="10"/>
    <add key="EXPLICIT" value="20"/>
    <add key="PAGELOAD" value="30"/>
    <add key="SCRIPT" value="40"/>
  </appSettings>
</configuration>